/* @override 
	http://festivalfacez.ch/wp/wp-content/themes/face-z/css/dev/10-fonts.css */


@font-face {
    font-family: 'Titillium';
    src: url('../../fonts/titillium/titillium-bold-webfont.eot');
    src: url('../../fonts/titillium/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/titillium/titillium-bold-webfont.woff') format('woff'),
         url('../../fonts/titillium/titillium-bold-webfont.ttf') format('truetype'),
         url('../../fonts/titillium/titillium-bold-webfont.svg#TitilliumBdBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../../fonts/clearsans/ClearSans-Regular-webfont.eot');
    src: url('../../fonts/clearsans/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/clearsans/ClearSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/clearsans/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/clearsans/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../../fonts/clearsans/ClearSans-Italic-webfont.eot');
    src: url('../../fonts/clearsans/ClearSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/clearsans/ClearSans-Italic-webfont.woff') format('woff'),
         url('../../fonts/clearsans/ClearSans-Italic-webfont.ttf') format('truetype'),
         url('../../fonts/clearsans/ClearSans-Italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Clear Sans';
    src: url('../../fonts/clearsans/ClearSans-Bold-webfont.eot');
    src: url('../../fonts/clearsans/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/clearsans/ClearSans-Bold-webfont.woff') format('woff'),
         url('../../fonts/clearsans/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/clearsans/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}