/* @override 
	http://festivalfacez.ch/wp/wp-content/themes/face-z/css/dev/20-custom.css */


body,
.formError .formErrorContent,
.widget_wysija_cont .updated, .widget_wysija_cont .error, .widget_wysija_cont .xdetailed-errors {
	font-family: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Titillium, 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.mobile-hidden {
	display: none;
}

#wp-admin-bar-comments,
#wp-admin-bar-new-post,
#wp-admin-bar-new-media,
#menu-posts,
#menu-comments {
 	display:none;
/* NOTE: 
	must be repeated in the main CSS
	since the admin bar is also on the frontend
	 */
}


body #site-title {
	padding-bottom: 0.5em;
}

body #site-title h1 a {
	background-color: #fff;
	color: #333;
	padding-left: 10px;
}

body #site-title .site-description {
	font-size: 120%;
	line-height: 1.2;
	font-weight: 700;
	display: block;
	margin-top: 0.1em;
	padding-left: 10px;
	max-width: 170px;
	max-width: 500px;
}

body #site-title h1 a,
body #site-title .site-description {
	opacity: 0.4;	
}



/*
	pour la saison Face J (2014)
	body color: 243F60
*/


.site-content,
.site-content a, 
.site-content h1, 
.site-content h2, 
.site-content h3, 
.site-content h4, 
.site-content h5, 
.site-content h6 {
	color: #243F60;
}

.site-content h1.entry-title {
	font-size: 200%;
}

.site-content h1.has-subpage {
	font-size: 200%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.site-content h2 {
	padding-top: 0;
	margin-top: 0.2em;
	margin-bottom: 1.5em;
	font-size: 140%;
}

.site-content h1.vignettes-title {
	color: #DB0026;
}


.parent-page,
.parent-page a {
	color: #DB0026;
	font-size: 110%;
	font-family: Titillium, 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
}

.parent-page-root {
	font-size: 140%;
}

.two-columns-one,
.three-columns-one {
	color: #999999;
	font-weight: bold;
}


.gallery .gallery-item .gallery-caption {
	display: block;	
}


/* @group Menu Overrides */
		
		#site-nav ul.menu {
			padding-left: 10px;
		}
		
		/* Menu Big Item Top */
		
		#site-nav ul li.big-item-top {
			padding-top: 1em;
			margin-top: 1em;
			border-top: 1px solid #ccc;
			padding-bottom: 1em;
			margin-bottom: 0em;
		}
		
		#site-nav ul li.big-item a,
		#site-nav ul li.big-item-bottom a {
			color: #999999;
		}
		
		#site-nav ul li.big-item-top a {
			color: #999999;
		}
		
		#site-nav ul li.big-item,
		#site-nav ul li.big-item-bottom {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			
			border-top: 1px solid #ccc;
		}
		
		/* Big Item Bottom */
		
		#site-nav ul li.big-item-bottom {
			border-bottom: 1px solid #ccc;
		}
		
		#site-nav ul li.current-menu-item a,
		#site-nav ul li.current-page-ancestor a {
			color: #DB0026;
		}
		
		.menu-bottom {
			margin: 20px 0 0 0;
			padding: 0 60px 0 40px;	
			border: 0px solid #333;
		}
		
		.menu-bottom .textwidget {
			line-height: 1.3;
		}
		
		/* @end */
		
		/* @group Footer Area */
		
		
		.entry-footer {
			border-bottom: 0px;	
		}
		
		
		#colophon {
			padding-top: 10px;
		}
		
		#footer-sidebar-wrap {
			padding-bottom: 0px;
			padding-top: 5px;
			border-bottom: 1px solid #ccc;
		}
		
		#footer-sidebar-wrap .widget {
			padding-bottom: 0px;
		}
		
		#footer-sidebar-wrap .widget h3.widget-title {
			padding-bottom: 0.8em;
			padding-left: 2px;
		}
		
		#wysija-2 .wysija-paragraph {
			float: left;
			margin-right: 1em;
		}
		
		#wysija-2 input[type="text"] {
			min-height: 48px;
			margin-top: 0;
			padding-left: 0.8em;
/*			border: 0px;*/
		}
		#wysija-2  .widget_wysija_cont .wysija-submit  {
			margin-top: 0;
		}
		
		#msg-form-wysija-2 ul li {
			padding: 0.5em;
		}
		
		#msg-form-wysija-2 .updated {
			margin-bottom: 20px;
		}
		
		.formError .formErrorContent {
			width: auto;
			font-size: 80%;
		}
		
		body.single-wysijap .entry-details,
		body.single-wysijap #footer-sidebar-wrap {
			display: none;
		}
		
		
		
		/* @end */
		
		
