/* @override 
	http://festivalfacez.ch/wp/wp-content/themes/face-z/css/dev/25-negative.css */

/* @group Negatif */


body.page-template-page-noire-php #site-title h1 a ,
body.home #site-title h1 a {
	background-color: #000;
	color: #fff;
	opacity: 1;	
}

body.page-template-page-noire-php #site-title h2.site-description,
body.home #site-title h2.site-description {
	opacity: 1;	
	color: #fff;
}

body.page-template-page-noire-php,
body.home {
	background: #000;
	color: #fff;
}

body.page-template-page-noire-php,
body.page-template-page-noire-php .site-content,
body.page-template-page-noire-php .site-content p,
body.page-template-page-noire-php a,
body.home .site-content p,
body.page-template-page-noire-php .site-content h1,
body.home a,
body.home #site-nav ul li a,
body.page-template-page-noire-php #site-nav ul li a,
body.home a:hover,
body.home a:visited,
body.page-template-page-noire-php a:hover,
body.page-template-page-noire-php a:visited,
body.home .entry-footer a:hover,
body.home #site-nav ul li a:hover,
body.home .widget_nav_menu ul li a:hover,
body.home #search-btn:hover,
body.home .nav-next a:hover,
body.home .nav-previous a:hover,
body.home .previous-image a:hover,
body.home .next-image a:hover,
body.home .format-link .entry-content a.link:hover:after,
body.home #footer-sidebar-wrap .widget h3.widget-title,
body.page-template-page-noire-php #footer-sidebar-wrap .widget h3.widget-title {
	color: #fff;
}

body.home  input[type="button"], 
body.home input[type="submit"],
body.page-template-page-noire-php  input[type="button"], 
body.page-template-page-noire-php input[type="submit"] {
	background: #6d6d6d;
}

body.page-template-page-noire-php ul.sociallinks li a.facebook,
body.home ul.sociallinks li a.facebook {
	background-image: url('../../img/socialicons-white.png');
}
body.page-template-page-noire-php ul.sociallinks li a.soundcloud,
body.home ul.sociallinks li a.soundcloud {
	background-image: url('../../img/socialicons-white.png');
}

body.page-template-page-noire-php #mobile-menu-btn,
body.home #mobile-menu-btn,
body.page-template-page-noire-php #search-btn,
body.home #search-btn
{
	background-image: url('../../img/icons-white.png');
}

/* @end */